<main>
    <div class="container">
        <div class="text-light bg-dark text-center p-5">
            <h1 class="display-1">Hey there!</h1>
        </div>

        <div class="bg-ultramarine text-center p-5">
            <h1>TEST</h1>
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="card text-center">
                        <div class="card-header">
                            
                        </div>
                
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="row justify-content-start">
                                    <div class="col-4">
                                        <img src="https://cdn-icons-png.flaticon.com/512/825/825540.png" alt="Bitcoin logo" style="width:3rem;">
                                    </div>
                                    <div class="col-4">
                                        <h1>Bitcoin</h1>
                                    </div>
                                </div>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item active" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Separated link</a></li>
                            </ul>
                        </div>

                        <div class="card-footer text-muted">
                            See? It is <b>that</b> easy!
                        </div>    
                    
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</main>